 
	<h2>User Info</h2>

        	<%= attachment_image_tag user, :profile_image, :fill ,100 ,100, format: 'jpeg',class: "img-responsive pull-left profile-img", fallback:"no_image.jpg",size: '100x100' %>
			    <table class="table">
			    	<br><br><br><br><br>
					<tbody>
							<tr>

								<th>name</th>
								<th><%= user.name %></th>

							</tr>
							<tr>
								<th>introduction</th>
								<th><%= user.introduction %></th>
							</tr>
					</tbody>
				</table>
						<div class="actions row">
					<%= link_to '', edit_user_path(current_user.id), class:"btn btn-default col-xs-12 glyphicon glyphicon-wrench" %>
			</div>
<br>

		<h2>New Book</h2>
		<%= form_for(book) do |f| %>
			<div class="actions row">
				<label class="new-book-title">Title</label>
				<br /><%= f.text_field :title, class:"col-xs-12" %>
			</div>
			<div class="actions row">
				<label class="new-book-body">Opinion</label>
				<br /><%= f.text_area :body, class:"col-xs-12" %>
			</div>
			<div class="actions row">
				<br><%= f.submit 'Create Book', class:"btn btn-primary col-xs-12" %>
			</div>
		<% end %>
