
  <!DOCTYPE html>
  <html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">

        <title>Bookers</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track':'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track':'reload' %>
    </head>
    <body>
      <header style="background-color: black; color:white;">
      	<div class="container">
          
              <h3><span class="glyphicon glyphicon-book" aria-hidden="true">Bookers</span></h3>
          </div>

              <div class="aikon text-right" style="color:#9d9d9d;">
                <% if user_signed_in? %>
                  <%= link_to books_path do%> 
                   <i class="glyphicon glyphicon-home">
                     Home
                   </i>
                   <% end %>

                  <%= link_to user_registration_path  do %>
                   <i class="glyphicon glyphicon-user">
                     User
                   </i>
                  <% end %>

                  <%= link_to  books_new_path  do %> 
                   <i class="glyphicon glyphicon-book">
                     Books
                   </i>
                   <% end %>

                  <%= link_to  destroy_user_session_path, method: :delete  do %> 
                    <i class="glyphicon glyphicon-log-out">
                      Log out
                    </i>
                  <% end %>

                <% else %>
                   <%= link_to top_path  do%> 
                    <i class="glyphicon glyphicon-home"> 
                      Home
                    </i>
                    <% end %>

                   <%= link_to about_path do%>
                    <i class="glyphicon glyphicon-link">
                      About
                    </i>
                    <% end %>

                   <%= link_to  new_user_registration_path do%> 
                   <i class="glyphicon glyphicon-edit"> 
                      Sign up
                   </i>
                   <% end %>

                   <%= link_to  new_user_session_path  do%> 
                   <i class="glyphicon glyphicon-log-in"> 
                      Log in
                   </i>
                   <% end %>
                <% end %>
              

        </div>
      </header>
      <%= yield %>
      <footer>
        <div class="container">
          <div class="col-xs-3 col-xs-offset-9">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </footer>
    </body>
  </html>
 








